
    <div class="center, header" style="background-color: gray;">
      <img [src]='pjatkSrc' style="height: 40px; width: 150px; margin: auto;">

    </div>
    <div style="margin-right: auto; margin-left: auto; text-align: center;
    font-family:tahoma; font-size: 16pt; font-weight:500; background-color: gray;
    height: 50px;">
      <img [src]='errorSrc' style="height: 40px; width: 40px; margin-right: auto; margin-left: auto; text-align: center;">
      <div style="display: inline-block; vertical-align:bottom; padding-left: 5px; font-weight: bold; color: white;" class="logo-font;">
        Wystąpił Błąd Danych Lub Serwisu</div>
    </div>
    <div style="background-color: gray; ">
      <div style="width: 450px; margin-left: auto; margin-right: auto; background-color: gray;">

        Proszę spróbować powtórzyć badanie zgodnie z instrukcją,
        jeżeli błąd będzie się powtarzał prosimy o kontakt z administratorem.



        <input type="button" value="Powrót" (click)='redirectFormComponent()' class="btn btn-warning"
        style="width: 400px; margin-top: 5px;" />


      </div>

  </div>



